{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "@neogeek/eslint-config-standards"
  ],
  "rules": {
    "valid-jsdoc": 2,
    "no-underscore-dangle": 0
  }
}
