<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{{#if page_title}}{{page_title}} &mdash; {{/if}}{{config.site_name}}</title>
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div class="contents">

{{{body}}}

</div>

<script src="/build.min.js" async></script>

</body>
</html>
